.body-terminal{
	background-color: #f7f7f7;
	padding-top: 7%;
	background-attachment:fixed;
	min-width:100%;
}
.banco {
    background-color: #61fe50;
    box-sizing: border-box;
    margin-top: 30px;
    padding-top: 20px;
}
.CGP {
    background-color: yellow;
    box-sizing: border-box;
    margin-top: 30px;
    padding-top: 22px;
}
.LocalComercial {
    background-color: #d77afe;
    box-sizing: border-box;
    margin-top: 30px;
    padding-top: 25px;
}
.Colectivo {
    background-color: #fe6910;
    box-sizing: border-box;
    margin-top: 30px;
    padding-top: 25px;
}
.shortcut {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 12px;
    height:77%;
    color: #000000;
    border-radius: 6px;
    position: relative;
    display: block;
    background-color:transparent;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.shortcut span {
    margin: 0 auto 24px auto;
    width: 112px;
    height: 112px;
    border-radius: 56px;
    position: relative;
    display: block;
}
a:link{
    color: #000000;
    text-decoration:none;
}
a:hover, a:active {
    color:#800040;
}
