html {
	position: relative;
	min-height: 100%;

}
body {
	margin:0px;
}
/* Clases para Layout*/
.container-fluid {
	position: absolute;
	top:0;
	background-color: #ffbc00;
	height: 70px;
 	width: 100%;
}
.footer {
 
	background-color: #171506;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;
}





