{{# partial "titulo" }}	
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="signin.css" rel="stylesheet">
<title>
 Acceso denegado
</title>
{{/partial}}
{{#partial "header" }}
{{/partial}}		
<body class = "background-default">
<link rel="stylesheet"  href="css/home.css">
 <div class = "icon-container">
 <h1 class = "text"> <img class= "forbidden-icon" src = "https://raw.githubusercontent.com/mbondarenco/prueba/master/signs-2.png"> 
Acceso denegado </h1>
 </div> 
</body>
{{> layout.hbs }}