{{# partial "titulo" }}	
<title>
  Historial de Consultas
</title>
{{/partial}}

{{#partial "header" }}
<form action="/administrador" method="post">
<input class = "logout" id = "logout" type="submit" value="Cerrar sesión">
</form>
{{/partial}}
<body class = "background-default">
<link rel="stylesheet"  href="/home.css">
{{#partial "contenido" }}
{{/partial}}
</body>
{{> layout.hbs }}