{{# partial "titulo" }}
<title>
  Administrar Pois
</title>
{{/partial}}

{{#partial "header" }}
<link rel="stylesheet"  href="/css/home.css">
<form action="/logout" method="post">
	<input class = "logout" id = "logout" type="submit" value="Cerrar sesión">
</form>
{{/partial}}

<body class ="body-item" >
<link rel="stylesheet"  href="/css/item-admin.css">
{{#partial "contenido" }}
<div class="titulo">
	<h1 align="center"><strong>Puntos de Interés</strong></h1>
</div><br>
<form action="/administrador/pois" >
  <div class="row">
  	  <div class="col-md-2">
		  <input type="submit" class="form-control btn btn-danger">
		</div>
	  <div class="col-md-10">
		  <input type="text" class="form-control" name="filtroNombre">
		</div>
  </div>
</form>
{{>listarPois.hbs}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" ></script>
{{/partial}}

</body>

{{> layout.hbs }}