{{# partial "titulo" }}	
<title>
  Administrar Pois
</title>
<a  href="/" class="btn btn-primary btn-lg pull-right" role="button" style="background-color: #080219;border-color: #080219">Cerrar sesión </a>
{{/partial}}
{{#partial "header" }}
{{/partial}}

{{> layout.hbs }}