{{# partial "titulo" }}	
<title>
  Administrar Terminales
</title>
{{/partial}}

{{#partial "header" }}
<link rel="stylesheet"  href="/css/home.css">
<form action="/logout" method="post">
	<input class = "logout" id = "logout" type="submit" value="Cerrar sesión">
</form>
{{/partial}}

<body class = "body-item">
<link rel="stylesheet"  href="/css/item-admin.css">
{{#partial "contenido" }}
<div class="titulo">
	<h1 align="center"><strong>Terminales</strong></h1>
</div>

<form action="/administrador/terminales" >
  <div class="row">
  	  <div class="col-md-2">
		  <button type="submit" class="form-control btn btn-danger">Buscar</button>
	  </div>
	  <div class="col-md-6">
		  <input type="text" class="form-control" name="filtroNombre" placeholder="Numero de Comuna">
	  </div> 
  </div>
</form>
<form action="/administrador/terminales/agregar" >
	<div class="row">
		<div class="col-md-2">
			<button type="submit" class="form-control btn btn-danger">Agregar</button>
		</div>
	</div>
</form>
{{>listarTerminales.hbs}}


{{/partial}}
</body>

{{> layout.hbs }}