<html>
  <head>
    <link rel="icon" type="image/png" href="https://cdn4.iconfinder.com/data/icons/social-communication/142/point-512.png" />

    {{# block "titulo" }}
    {{/block}}
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  </head>
  <body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header" style="width:100%;">
          <a class="navbar-brand" href="/">
          <img src="https://raw.githubusercontent.com/gcba/BAstrap/gh-pages/bastrap3/bac-header.png">
          </a>
          {{# block "header" }}
          {{/block}}
        </div>
      </div>
    </nav>
    <div class="container">
      {{# block "contenido" }}
      {{/block}}

    </div>

	<footer class="footer">
		<a class="navbar-brand" href="/"> <img
			src="https://raw.githubusercontent.com/gcba/BAstrap/gh-pages/buenosaires/assets/bavos-footer.png">
		</a>
		<div class="container">
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
			<nav id="telefonos" class="row shortcut-row">
				<font color="White">
					<div class="col-md-2 col-sm-6 ">
						<h4>
						&nbsp;<span class="glyphicon glyphicon-earphone"></span> 103
						</h4>
						<p>Emergencias</p>
					</div>
					<div class="col-md-2 col-sm-6">
						<h4 align="justify">
							<span class="glyphicon glyphicon-earphone"></span> 107
						</h4>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;SAME</p>
					</div>


					<div class="col-md-2 col-sm-6">
						<h4 align="justify">
							<span class="glyphicon glyphicon-earphone"></span> 108
						</h4>
						<p>Línea Social</p>
					</div>

					<div class="col-md-2 col-sm-6">

						<h4 align="justify">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-earphone"></span> 147
						</h4>
						<p>Atención Ciudadana</p>
				
		</div>
		</font>
		</nav>
		</div>
		</footer>
  </body>
</html>

