<html>
  <head>
    {{# block "titulo" }}
    {{/block}}
  </head>
  <body>
  <link rel="stylesheet"  href="main.css">
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/gcba/BAstrap/gh-pages/bastrap3/bac-header.png">
        </a>
      </div>
     </div>
   </nav>

  <div class="container">
    {{# block "contenido" }}
    {{/block}}
  </div>
  
  <footer class="footer">
   <a class="navbar-brand" href="/">
   <img src ="https://raw.githubusercontent.com/gcba/BAstrap/gh-pages/buenosaires/assets/bavos-footer.png">
   </a>
  </footer>
 
  </body>
</html>