{{# partial "titulo" }}	
{{/partial}}
{{#partial "header" }}
{{/partial}}		
{{# partial "login" }}	  
<div class="texto-error">
<p> El usuario o contraseña ingresados son incorrectos. <br>Intente nuevamente</p>
</div>
{{/partial}}
{{> login.hbs }}
{{> layout.hbs }}