{{# partial "titulo" }}	
<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
<link href="signin.css" rel="stylesheet">

<title>
  Iniciar sesi칩n
</title>
{{/partial}}

{{#partial "header" }}
{{/partial}}		

<body class = "body-login">
  {{# partial "contenido" }}	  
 
  <div class="container-login">
    <form class="form-signin">
      <img class="imagen-usuario" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png">
      <input id="usuario" class="form-control" placeholder="Nombre de usuario" required="" autofocus="" type = "text" style="width:350px;height:40px;">
      <input id="contrase침a" class="form-control" placeholder="Contrase침a" required="" type="password" style="width:350px;height:40px;">
      <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:350px;height:40px;">Iniciar sesi칩n</button>
    </form>
  </div>
 
  {{/partial}}
</body>
{{> layout.hbs }}